@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
        body{
            background: url('../img/background.jpg') no-repeat center center fixed; 
            font-family: 'Poppins', sans-serif;
        }
        .btn, img{
            height: 185px;
            width: 185px;
            margin: 0.5rem;
            background: url('../img/background-card.jpg') no-repeat center center; 
            border-color: transparent;
            border-radius: 10%;
            transition: all 0.2s;
        }
        .btn:hover, img:hover{
            box-shadow: 7px 11px 5px 0px rgba(0,0,0,0.45);
            transform: scale(1.05);
            border-color: transparent;
        }
        .row-memory{
            margin:auto;
            text-align: center;
        }
        h1{
            font-size:45px;
            font-weight: 600;
            color: #fff;
        }